// Grid((
//     texture_width: 672,
//     texture_height: 420,

//     columns: 8,
//     rows: Some(5),
//     sprite_count: Some(38)
// ))

#![enable(implicit_some)]
Prefab(
    entities: [
        // Player
        PrefabEntity(
            data: AnimationPrefabData(
                // SpriteScenePrefab
                sprite_scene: (
                    // SpriteSheetPrefab with index 0
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File("sprites/knight/knight.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    anisotropic: Off,
                                    normalized: true
                                ),
                            ),
                        )),
                        sprites: [
                            Grid((
                                texture_width: 672,
                                texture_height: 420,

                                columns: 8,
                                rows: 5,
                                sprite_count: 38
                            ))
                        ],
                        name: "player"
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "player",
                        sprite_number: 0,
                    ),
                    transform: None
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            Idle,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.2, 0.4, 0.6],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [0, 1, 2, 3],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Move,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        ),
    ],
)

    // texture_width: 672,
    // texture_height: 420,
    // sprites: [
    //     (
    //         x: 0,
    //         y: 0,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 84,
    //         y: 0,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 168,
    //         y: 0,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 252,
    //         y: 0,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 336,
    //         y: 0,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 420,
    //         y: 0,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 504,
    //         y: 0,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 588,
    //         y: 0,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 0,
    //         y: 84,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 84,
    //         y: 84,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 168,
    //         y: 84,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 252,
    //         y: 84,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 336,
    //         y: 84,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 420,
    //         y: 84,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 504,
    //         y: 84,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 588,
    //         y: 84,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 0,
    //         y: 168,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 84,
    //         y: 168,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 168,
    //         y: 168,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 252,
    //         y: 168,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 336,
    //         y: 168,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 420,
    //         y: 168,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 504,
    //         y: 168,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 588,
    //         y: 168,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 0,
    //         y: 252,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 84,
    //         y: 252,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 168,
    //         y: 252,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 252,
    //         y: 252,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 336,
    //         y: 252,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 420,
    //         y: 252,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 504,
    //         y: 252,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 588,
    //         y: 252,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 0,
    //         y: 336,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 84,
    //         y: 336,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 168,
    //         y: 336,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 252,
    //         y: 336,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 336,
    //         y: 336,
    //         width: 84,
    //         height: 84,
    //     ),
    //     (
    //         x: 420,
    //         y: 336,
    //         width: 84,
    //         height: 84,
    //     )
    //]
// ))